/* PHASE 1: Header */

body {
  font-weight: 400;
  font-size: 16px;
}

header.header {
  text-align: center;
  color: white;
  margin: 0 auto;
  background-color: red;
  border: solid #ccc;
  border-width: 0 0 1px 0;
  z-index: 1;
  position: relative;
}

.header-logo {
  font-weight: 700;
  font-size: 16px;
  float: left;
  border: solid #ccc;
  border-width: 0 1px;
  padding: 13px 22px;
  display: inline-block;
  cursor: pointer;
}

.header-nav {
  width: 900px;
  height: 100%;
  margin: 0 auto;
}

.header-list {
  float: right;
}

.header-list > li {
  margin: 0;
  border-left: 1px solid #ccc;
  float: left;
}

.header-list > li:last-child {
  border-right: 1px solid white;
}

.header-list > li:hover {
  background-color: black;
}

.header-logo:hover {
  background-color: black;
}

.header-list > li > a {
  padding: 13px 22px;
  display: block;
}
