/* PHASE 7: Online */
.online {
  margin: 0px;
  padding: 5px 25px;
  color: white;
  position: absolute;
  top: 15px;
  left: -25px;
  transform: rotate(-45deg);
  font-size: 12px;
  letter-spacing: 3px;
  background-color: #0c0;
  box-shadow: #070 0 1px;
}
